<h1 class="headline">Let me cook for you!</h1>

<% @cooks.each do |cook| %>
  
  <div class="box col-xs-10 col-xs-offset-1">
    <h1><%= cook.name %></h1><br />
    <i><%= cook.town %></i><br />
    <p><%= cook.bio %></p><br />
  </div>


<% end %>