<h1 class="headline">Let me cook for you!</h1>

<% @cooks.each do |cook| %>
  <div>
    <h1><%= cook.name %></h1><br />
    <i><%= cook.town %></i><br />
    <p><%= cook.bio %></p><br />
  </div>

  <hr />

<% end %>