.headline {
  color: #826A0C;
  font-size: 50px;
}

body  {
  background: url("home_kitchen.jpg") no-repeat center center fixed; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
}

.info {
  color: white;
  text-align: center;
  font-size: 40px;
}