.headline {
  color: #826A0C;
}

body  {
  background: url("home_kitchen.jpg") no-repeat center center fixed; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
}